[submodule "backend"]
	path = backend
	url = git@github.com:raghavendra89/innoscripta-challenge-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:raghavendra89/ic-newsfeed-frontend.git
